.idea
.vscode/settings.json
website/app/package-lock.json
*.json
*.bin
iaa/ava/train
iaa/ava/test
iaa/ava/subset
iaa/models
iaa/src/giiaa_dist/__pycache__
iaa/src/giiaa_mean/__pycache__
iaa/src/utils/__pycache__

