// make all the css styles in here plz sass is smart
:root {
  --background-color: #2d2d2d;
  --card-background-color: #414141;
  --selected-image-color: #3f8a4b;
}

body {
  background-color: var(--background-color);
}

// For the Upload Button, hides the input
.file-upload {
  display: none;
}

// The images the user uploads
// .uploadedImg {
//   border-radius: 5%;
//   height: 200px;
//   width: 200px;
//   padding: 5px;
// }

.card-img-top {
  width: auto;
  height: 15vh;
  object-fit: cover;
}

.cardSelected {
  border: 5px solid var(--selected-image-color);
}
