* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

.scrollMenu {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
